@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1 {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color:#EDDECC;
}

.linha {
  display: flex;
}

.tipo:hover {
  opacity: 50%;
  cursor: pointer;
}

.espaço {
  width: 30px;
  height: 30px;
  border: 1px dashed;
}

.selecionado {
  border: red solid;
  opacity: 50%;
}

.água {
  background-image: url(img/água.png);
  background-position: center;
  background-size: 136%;
}

.fazenda {
  background-image: url(img/fazenda.png);
  background-position: center;
  background-size: 136%;
}

.aldeia {
  background-image: url(img/aldeia.png);
  background-position: center;
  background-size: 136%;
}

.floresta {
  background-image: url(img/floresta.png);
  background-position: center;
  background-size: 136%;
}

.monstro {
  background-image: url(img/monstro.png);
  background-position: center;
  background-size: 136%;
}

.montanha {
  background-image: url(img/montanha.png);
  background-position: center;
  background-size: 136%;
}

.ruína {
  background-image: url(img/ruína.png);
  background-position: center;
  background-size: 100%;
}

.abismo {
  background-image: url(img/abismo.png);
  background-position: center;
  background-size: 136%;
}