@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color:#f0f0f5;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  margin: 20px 20px;
}

h1 {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  background: -webkit-linear-gradient(#FF8A00, #DC8240);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.conteúdo {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  padding: 20px 50px;
}

.áreaMapa {
  min-width: 550px;
  max-width: 550px;
  background: #EDDECC;
}

.linha {
  display: flex;
}

.tipo:hover {
  opacity: 50%;
  cursor: pointer;
}

.espaço {
  min-width: 50px;
  min-height: 50px;
  border: thin dashed;
  border-color: #DC8240;
}

.selecionado {
  border: red solid;
  opacity: 50%;
}

.água {
  background-image: url(img/água.png);
  background-position: center;
  background-size: 136%;
}

.fazenda {
  background-image: url(img/fazenda.png);
  background-position: center;
  background-size: 136%;
}

.aldeia {
  background-image: url(img/aldeia.png);
  background-position: center;
  background-size: 136%;
}

.floresta {
  background-image: url(img/floresta.png);
  background-position: center;
  background-size: 136%;
}

.monstro {
  background-image: url(img/monstro.png);
  background-position: center;
  background-size: 136%;
}

.montanha {
  background-image: url(img/montanha.png);
  background-position: center;
  background-size: 136%;
}

.ruínaLaranja {
  background-image: url(img/ruínaLaranja.png);
  background-position: center;
  background-size: 125%;
}

.ruínaBranca {
  background-image: url(img/ruínaBranca.png);
  background-position: center;
  background-size: 100%;
}

.abismo {
  background-image: url(img/abismo.png);
  background-position: center;
  background-size: 136%;
}